.top {
  font-family: "Yellowtail", cursive;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 50px;
  color: hsl(0, 100%, 49%);
}

.main-nav {
  display: flex;
  list-style: none;
  padding: 0px;
  margin-bottom: 10px;
  background-color: #252b27;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li {
  padding: 20px;
}
a {
  color: white;
  text-decoration: none;
}
.push {
  margin-left: auto;
}
.main {
  margin: 5px;
  text-align: center;
}
.item {
  margin: 10px;
  padding: 10px;
}

.carousel-inner {
  position: relative;
}
.text {
  position: absolute;
  bottom: 20%;
  color: white;
  font-size: 200%;
  font-family: "Poppins", sans-serif;
  margin: 10px;
}
.heading {
  font-family: "Poppins", sans-serif;
  background-color: #252b27;
  color: aliceblue;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.catalogs{
  margin: 0%;
  padding: 10px;
}

.container1 img
{
	opacity: 0.5;
	transition: .3s ease;
	border: 10px;
	margin: : 10px;
  margin-right: 10px;
  height: 50vh;
}
.container1 img:hover
{
	opacity: 1;
	transition: .5s ease;
	border: 10px;
	margin:10px;
	margin-right: 10px;
}
.box_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Yellowtail", cursive;
}
.box{
  background-color:hsl(0, 0%, 98%);
  width: 260px;
  margin: 20px;
  height: 50vh;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box img{
  width: 100%;
  height: 80%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}
.more img{
  width: 80%;
  height: 50vh;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}
.form {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact_us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Yellowtail", cursive;
  margin: 20px;
}
h2{
  font-family: "Yellowtail", cursive;
  margin: 10px;
  margin-left: 80px;
}
.last{
  font-family: "Yellowtail", cursive;
  font-size: xx-large;
  text-align: center;
}
footer{
  font-family: "Poppins", sans-serif;
  background-color: #252b27;
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer img{
  width: 5%;
  height: 8%;
  padding: 10px;
}
@media (max-width: 800px) {
  .main-nav{
    font-size: 10px;

  }
  .heading{
    font-size:10px;
  }
  .catalogs{
    font-size:10px;
  }
  
  .main-nav li{
    padding: 10px;
  }
  .text {
    font-size: 100%;
  }
  .form{
    width: 100%;
  }
}
